body {
  background: linear-gradient(135deg, #eef2f7, #dbe6f6);
}

.card {
  border: none;
  border-radius: 12px;
  transition:0.3s;
}


.btn {
  border-radius: 25px;}

  .remove-toggle {
    display: none;
  }

  .remove-toggle:checked + .card {
    display: none;
  }